<div class="col-12 pt-4">
    <button type="submit" class="p-2 pr-4 pl-4 border bg-dark text-white Roboto" style="font-size:100%;">Utwórz <i style="font-size:18px" data-feather="plus"></i></button>
</div>