<button type="submit" asp-route-id="@Model" class="text-light button-managment bg-success Roboto mb-5 ml-4 pt-2 pr-0 mr-3 pl-3 justify-content-end" style="width:45%; padding:0.5rem; height:50%; font-size:80%;">
    EDYTUJ <i style="font-size:18px" data-feather="check-circle"></i>
</button>
