<div class="col-12 pt-4">
    <button type="submit" asp-route-id="@Model" class="p-2 pr-4 pl-4 border bg-dark text-white Roboto" style="font-size:100%;">Edytuj <i style="font-size:18px" data-feather="edit-3"></i></button>
</div>