<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Larram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow p-0">
            <div class="container-fluid p-0">
                <div class="row p-0 m-0 w-100">
                    <div class="col-8 p-0">
                        <a class="navbar-brand redRose p-0 m-0 centered" asp-area="Customer" asp-controller="Home" asp-action="Index">LARRAM</a>
                    </div>
                        <div class="col-4 p-0 d-flex justify-content-end">
                            <partial name="_LoginPartial" />
                        </div>
                        <div class="col-12 d-flex justify-content-center p-0">
                            <ul class="navbar-nav flex-grow-1 nav p-0 justify-content-center" style="background-color: #2e3036;">
                                <li class="nav-item mr-1 pb-1 displayMenu">
                                    <div class="nav-link text-light Roboto menuLink">WYPRZEDAŻ</div>
                                    <div class="row dropDownMenu" style="color:dimgrey">
                                        <div class="col-4">
                                            <ul>
                                                <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>MĘŻCZYZNA</b></li>
                                                <li class="productLink"><a href="#">Koszulki</a></li>
                                                <li class="productLink"><a href="#">Spodnie</a></li>
                                                <li class="productLink"><a href="#">Spodenki</a></li>
                                                <li class="productLink"><a href="#">Bluzy</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-4">
                                            <ul class="list-group">
                                                <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>KOBIETA</b></li>
                                                <li class="productLink"><a href="#">Koszulki</a></li>
                                                <li class="productLink"><a href="#">Spodnie</a></li>
                                                <li class="productLink"><a href="#">Sukienki</a></li>
                                                <li class="productLink"><a href="#">Bluzy</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mr-1 displayMenu">
                                    <div class="nav-link text-light Roboto menuLink">KOBIETA</div>
                                    <div class="row dropDownMenu">
                                        <div class="col-4">
                                            <ul>
                                                <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>UBRANIA</b></li>
                                                <li class="productLink"><a href="#">Koszulki</a></li>
                                                <li class="productLink"><a href="#">Sukienki</a></li>
                                                <li class="productLink"><a href="#">Spódnice</a></li>
                                                <li class="productLink"><a href="#">Koszule</a></li>
                                                <li class="productLink"><a href="#">Jeansy</a></li>
                                                <li class="productLink"><a href="#">Bluzy</a></li>
                                                <li class="productLink"><a href="#">Swetry</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-4">
                                            <ul class="list-group">
                                                <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>DODATKI</b></li>
                                                <li class="productLink"><a href="#">Buty</a></li>
                                                <li class="productLink"><a href="#">Torebki</a></li>
                                                <li class="productLink"><a href="#">Plecaki</a></li>
                                                <li class="productLink"><a href="#">Paski</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mr-1 displayMenu">
                                    <div class="nav-link text-light Roboto menuLink">MĘŻCZYZNA</div>
                                    <div class="row dropDownMenu">
                                        <div class="col-4">
                                            <ul>
                                                <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>UBRANIA</b></li>
                                                <li class="productLink"><a href="#">Koszulki</a></li>
                                                <li class="productLink"><a href="#">Polo</a></li>
                                                <li class="productLink"><a href="#">Koszule</a></li>
                                                <li class="productLink"><a href="#">Jeansy</a></li>
                                                <li class="productLink"><a href="#">Szorty</a></li>
                                                <li class="productLink"><a href="#">Bluzy</a></li>
                                                <li class="productLink"><a href="#">Swetry</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-4">
                                            <ul class="list-group">
                                                <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>DODATKI</b></li>
                                                <li class="productLink"><a href="#">Buty</a></li>
                                                <li class="productLink"><a href="#">Plecaki</a></li>
                                                <li class="productLink"><a href="#">Czapki</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item displayMenu">
                                    <div class="nav-link text-light Roboto menuLink">NOWOŚCI</div>
                                    <div class="row dropDownMenu">
                                        <div class="col-4">
                                            <ul>
                                                <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>MĘŻCZYZNA</b></li>
                                                <li class="productLink"><a href="#">Odzież</a></li>
                                                <li class="productLink"><a href="#">Dodatki</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-4">
                                            <ul class="list-group">
                                                <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>KOBIETA</b></li>
                                                <li class="productLink"><a href="#">Odzież</a></li>
                                                <li class="productLink"><a href="#">Dodatki</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </nav>
    </header>
        <div class="container-fluid p-0">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="form-modal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content" style="border-radius:0;">
                    <div class="modal-body p-0">

                    </div>
                </div>
            </div>
        </div>

        <div class="loaderbody" id="loaderbody">
            <div class="loader"></div>
        </div>

        <footer class="border-top w-100 footer pt-4 text-muted" style="line-height: 20px; background-color: lightgray;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="footer-list">
                            <li><h5 class="Roboto text-dark"><b>PRZEWODNIK PO ZAKUPACH</b></h5></li>
                            <li class="footer-list-element Roboto"><a href="#">FAQ - NAJCZĘŚCIEJ ZADAWANE PYTANIA</a></li>
                            <li class="footer-list-element Roboto"><a href="#">JAK KUPOWAĆ</a></li>
                            <li class="footer-list-element Roboto"><a href="#">REKLAMACJE I ZWROTY</a></li>
                            <li class="footer-list-element Roboto"><a href="#">WYSYŁKA I PŁATNOŚĆ</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="footer-list">
                            <li><h5 class="Roboto text-dark"><b>REGULAMINY</b></h5></li>
                            <li class="footer-list-element Roboto"><a href="#">REGULAMIN</a></li>
                            <li class="footer-list-element Roboto"><a href="#">POLITYKA PRYWATNOŚCI</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="footer-list">
                            <li><h5 class="Roboto text-dark"><b>KONTAKT</b></h5></li>
                            <li class="footer-list-element Roboto"><a href="#">NAPISZ DO NAS</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="footer-list text-center">
                            <li><h5 class="Roboto text-dark" style="padding:0.1rem"><b>SOCIAL MEDIA</b></h5></li>
                            <li class="social-media-footer"><a href="#"><i style="font-size:26px" data-feather="facebook"></i></a></li>
                            <li class="social-media-footer"><a href="#"><i style="font-size:26px" data-feather="instagram"></i></a></li>
                            <li class="social-media-footer"><a href="#"><i style="font-size:26px" data-feather="twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <br />
                <br />
                <div class="row text-center">
                    <div class="col-12">
                        <small class="redRose" style="font-size:70%;">* Grafiki produktów pochodzą ze strony H&M</small>
                    </div>
                    <div class="col-12">
                        <h4 class="redRose" style="font-size:120%;">LARRAM</h4>
                    </div>
                </div>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/4eeb01117f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        feather.replace({ width: '1em', height: '1em' })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>