<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Larram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow p-0">
            <div class="container-fluid p-0">
                <div class="row p-0 m-0 w-100">
                    <div class="col-2 pt-4 menuNavi" style="display:none;">
                        <i style="font-size:22px" class="text-white" data-feather="menu"></i>
                    </div>
                    <div class="col-4 col-lg-8 p-0 pt-2 pt-lg-0 Brand">
                        <a class="navbar-brand redRose p-0 m-0 centered" asp-area="Customer" asp-controller="Home" asp-action="Index">LARRAM</a>
                    </div>
                    <div class="col-6 col-lg-4 p-0 d-flex justify-content-end justify-content-lg-end justify-content-md-end justify-content-sm-end manageLinks">
                        <partial name="_LoginPartial" />
                    </div>
                    <div class="col-12 d-flex justify-content-center p-0 productLinks">
                        <ul class="navbar-nav flex-grow-1 nav p-0 justify-content-center" style="background-color: #2e3036;">
                            <li class="nav-item mr-1 pb-1 displayMenu">
                                <div class="nav-link text-light Roboto menuLink">WYPRZEDAŻ</div>
                                <div class="row dropDownMenu" style="color:dimgrey">
                                    <div class="col-4">
                                        <ul>
                                            <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>MĘŻCZYZNA</b></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-discount="true" asp-route-gender="mezczyzna" asp-route-type="t-shirt">Koszulki</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-discount="true" asp-route-gender="mezczyzna" asp-route-type="spodnie">Spodnie</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-discount="true" asp-route-gender="mezczyzna" asp-route-type="spodenki">Spodenki</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-discount="true" asp-route-gender="mezczyzna" asp-route-type="bluza">Bluzy</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="list-group">
                                            <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>KOBIETA</b></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-discount="true" asp-route-gender="kobieta" asp-route-type="t-shirt">Koszulki</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-discount="true" asp-route-gender="kobieta" asp-route-type="spodnie">Spodnie</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-discount="true" asp-route-gender="kobieta" asp-route-type="sukienka">Sukienki</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-discount="true" asp-route-gender="kobieta" asp-route-type="bluza">Bluzy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item mr-1 displayMenu">
                                <div class="nav-link text-light Roboto menuLink">KOBIETA</div>
                                <div class="row dropDownMenu">
                                    <div class="col-4">
                                        <ul>
                                            <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>UBRANIA</b></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="t-shirt">Koszulki</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="sukienka">Sukienki</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="spódnica">Spódnice</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="koszula">Koszule</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="jeansy">Jeansy</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="bluza">Bluzy</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="sweter">Swetry</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="list-group">
                                            <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>DODATKI</b></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="buty">Buty</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="torebka">Torebki</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="plecak">Plecaki</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="kobieta" asp-route-type="pasek">Paski</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item mr-1 displayMenu">
                                <div class="nav-link text-light Roboto menuLink">MĘŻCZYZNA</div>
                                <div class="row dropDownMenu">
                                    <div class="col-4">
                                        <ul>
                                            <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>UBRANIA</b></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="mezczyzna" asp-route-type="t-shirt">Koszulki</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="mezczyzna" asp-route-type="polo">Polo</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="mezczyzna" asp-route-type="koszula">Koszule</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="mezczyzna" asp-route-type="jeansy">Jeansy</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="mezczyzna" asp-route-type="szorty">Szorty</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="mezczyzna" asp-route-type="bluza">Bluzy</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="mezczyzna" asp-route-type="sweter">Swetry</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="list-group">
                                            <li style="margin-bottom:0.7rem; color:black;" class="quickSand"><b>DODATKI</b></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="mezczyzna" asp-route-type="buty">Buty</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="mezczyzna" asp-route-type="plecak">Plecaki</a></li>
                                            <li class="productLink"><a asp-controller="Home" asp-area="Customer" asp-action="ShowProducts" asp-route-gender="mezczyzna" asp-route-type="czapka">Czapki</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
        <div class="container-fluid p-0">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="form-modal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content" style="border-radius:0;">
                    <div class="modal-body p-0">

                    </div>
                </div>
            </div>
        </div>

        <div class="loaderbody" id="loaderbody">
            <div class="loader"></div>
        </div>

        <footer class="border-top w-100 footer pt-4 text-muted" style="line-height: 20px; background-color: lightgray;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="footer-list">
                            <li><h5 class="Roboto text-dark"><b>PRZEWODNIK PO ZAKUPACH</b></h5></li>
                            <li class="footer-list-element Roboto"><a href="#">FAQ - NAJCZĘŚCIEJ ZADAWANE PYTANIA</a></li>
                            <li class="footer-list-element Roboto"><a href="#">JAK KUPOWAĆ</a></li>
                            <li class="footer-list-element Roboto"><a href="#">REKLAMACJE I ZWROTY</a></li>
                            <li class="footer-list-element Roboto"><a href="#">WYSYŁKA I PŁATNOŚĆ</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="footer-list">
                            <li><h5 class="Roboto text-dark"><b>REGULAMINY</b></h5></li>
                            <li class="footer-list-element Roboto"><a href="#">REGULAMIN</a></li>
                            <li class="footer-list-element Roboto"><a href="#">POLITYKA PRYWATNOŚCI</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="footer-list">
                            <li><h5 class="Roboto text-dark"><b>KONTAKT</b></h5></li>
                            <li class="footer-list-element Roboto"><a href="#">NAPISZ DO NAS</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="footer-list text-center">
                            <li><h5 class="Roboto text-dark" style="padding:0.1rem"><b>SOCIAL MEDIA</b></h5></li>
                            <li class="social-media-footer"><a href="#"><i style="font-size:26px" data-feather="facebook"></i></a></li>
                            <li class="social-media-footer"><a href="#"><i style="font-size:26px" data-feather="instagram"></i></a></li>
                            <li class="social-media-footer"><a href="#"><i style="font-size:26px" data-feather="twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <br />
                <br />
                <div class="row text-center">
                    <div class="col-12">
                        <small class="redRose" style="font-size:70%;">* Grafiki produktów pochodzą ze strony H&M</small>
                    </div>
                    <div class="col-12">
                        <h4 class="redRose" style="font-size:120%;">LARRAM</h4>
                    </div>
                </div>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/4eeb01117f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        feather.replace({ width: '1em', height: '1em' })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>