@font-face {
    font-family: "Quicksand";
    src: url('Quicksand-VariableFont_wght.ttf');
}
@font-face {
    font-family: "RedRose";
    src: url('RedRose-Light.ttf');
}
@font-face {
    font-family: "Roboto";
    src: url('Roboto-Light.ttf');
}
.quickSand {
    font-family: "Quicksand";
    font-size: 120%;
}
.Roboto {
    font-family: "Roboto";
    font-size: 125%;
}
.redRose {
    font-family: "RedRose";
    font-size: 300%;
}

