@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

    <div class="container pt-5 Roboto">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="m-0 text-danger" style="font-size:150%;"><b>Nie masz dostępu do tej zawartości.</b></h1>
            </div>
        </div>
    </div>
