@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

    <div class="container pt-5 Roboto">
            <div class="row text-center">
                <div class="col-12">
                    <h1 class="m-0" style="font-size:150%;"><b>POTWIERDZENIE RESTARTU HASŁA</b></h1>
                    <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
                </div>
                <div class="col-12 p-2 text-center d-flex justify-content-center">
                    <h1 class="m-0 pl-1" style="font-size:80%;"><b>Link do restartu hasła został wysłany na podany email. <br /> Sprawdź swoją skrzynkę pocztową.</b></h1>
                </div>
            </div>
    </div>

