@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="container pt-5 Roboto">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="m-0 text-danger" style="font-size:150%;"><b>Twoje konto zostało zablokowane.</b></h1>
            </div>
        </div>
</div>