@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container pt-5 Roboto">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="m-0" style="font-size:150%;"><b>Sprawdź swoją skrzynkę pocztową aby aktywować konto.</b></h1>
        </div>
    </div>
</div>