@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container pt-5 Roboto">
    <form id="account" method="post">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="m-0" style="font-size:150%;"><b>POTWIERDZENIE RESTARTU HASŁA</b></h1>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            </div>
            <div class="col-12 p-2 d-flex justify-content-center">
                <h1 class="m-0 text-left pl-1" style="font-size:80%; width:40%;"><b>Twoje hasło zostało zmienione. Kliknij <a asp-page="./Login">tutaj</a> żeby się zalogować. </b></h1>
            </div>
        </div>
    </form>
</div>