@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="container pt-5 Roboto">
    <form method="post">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="m-0" style="font-size:150%;"><b>RESTART HASŁA</b></h1>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            </div>
            <div class="col-12  pt-3 p-2 d-flex justify-content-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden asp-for="Input.Code" />
            </div>
            <div class="col-12 p-2 d-flex justify-content-center">
                <h1 class="m-0 text-left pl-1" style="font-size:80%; width:40%;"><b>E-mail </b></h1>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <input asp-for="Input.Email" class="form-control" style="width:40%;" />
            </div>
            <div class="col-12  pt-3 p-2 d-flex justify-content-center">
                <span style="font-size:80%; width:40%;" asp-validation-for="Input.Email" class="m-0 text-left pl-1 text-danger"></span>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="row text-center" style="width:58%;">
                    <div class="col-6 p-2 d-flex justify-content-center">
                        <h1 class="m-0 text-left pl-1" style="font-size:80%; width:40%;"><b>Hasło </b></h1>
                    </div>
                    <div class="col-6 p-2">
                        <h1 class="m-0 text-left pl-1" style="font-size:80%; width:40%;"><b>Potwierdź hasło </b></h1>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="row text-center" style="width:41%;">
                    <div class="col-6 p-2 d-flex justify-content-center">
                        <input asp-for="Input.Password" class="form-control" style="width:100%;" />
                    </div>
                    <div class="col-6 p-2">
                        <input asp-for="Input.ConfirmPassword" class="form-control" style="width:100%;" />
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="row text-center" style="width:58%;">
                    <div class="col-6 p-2 d-flex justify-content-center">
                        <span style="font-size:80%; width:40%;" asp-validation-for="Input.Password" class="m-0 text-left pl-1 text-danger"></span>
                    </div>
                    <div class="col-6 p-2">
                        <span style="font-size:80%; width:40%;" asp-validation-for="Input.ConfirmPassword" class="m-0 text-left pl-1 text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-0">
                <button type="submit" class="p-2 pr-4 pl-4 border bg-dark text-white quickSand" style="font-size:100%;">Zmień hasło</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
