@model int
@{
    ViewData["Title"] = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-5 pb-5 Roboto">
    <div class="row text-center">
        <div class="col-12">
            <h1>Zamówienie złożone pomyślnie</h1>
        </div>
        <div class="col-12 pt-3">
            <h4>Numer zamówienia: @Model</h4>
        </div>
    </div>
</div>

