
@{
    ViewData["Title"] = "ShopManagement";
}
    <div class="container text-center">
        <h1 class="Roboto p-2 m-2" style="font-size: 150%;"><b>ZARZĄDZANIE ZAWARTOŚCIĄ</b></h1>
        <hr />
        <div class="d-flex justify-content-around">
            <a class="text-light button-managment bg-dark Roboto" asp-area="Admin" asp-controller="Category" asp-action="Index">KATEGORIE</a>
            <a class="text-light button-managment bg-dark Roboto" asp-area="Admin" asp-controller="Size" asp-action="Index">ROZMIARY</a>
            <a class="text-light button-managment bg-dark Roboto" asp-area="Admin" asp-controller="Color" asp-action="Index">KOLORY</a>
        </div>
        <div class="d-flex justify-content-around">
            <a class="text-light button-managment bg-dark Roboto" asp-area="Admin" asp-controller="Product" asp-action="Index">PRODUKTY</a>
        </div>
    </div>


