
@{
    ViewData["Title"] = "ShopManagement";
}
    <div class="container text-center">
        <h1 class="Roboto p-2 m-2" style="font-size: 150%;"><b>ZARZĄDZANIE ZAWARTOŚCIĄ</b></h1>
        <hr />
        <div class="d-flex justify-content-around">
            <a class="text-light button-managment bg-dark Roboto" asp-area="Admin" asp-controller="Category" asp-action="Index">KATEGORIE</a>
            <a href="#" class="text-light button-managment bg-dark Roboto">MARKI</a>
            <a href="#" class="text-light button-managment bg-dark Roboto">PRODUKTY</a>
        </div>
    </div>


