@model Larram.Models.ProductAvailability
@{
    ViewData["Title"] = "Delete";
    Layout = null;
}
    <div class="container pb-5 Roboto">
        <form asp-action="Delete" onsubmit="return jQueryAjaxPost(this);" class="m-0 p-0">
            <div class="container d-flex justify-content-end p-0">
                <a class="text-dark text-right mb-1 mt-2" data-dismiss="modal"><i style="font-size:22px" data-feather="x"></i></a>
            </div>
            <div class="row text-center">
                <div class="col-12 pb-4">
                    <i style="font-size:64px" class="ml-2 mt-4 mr-4 mb-2" data-feather="alert-triangle"></i>
                    <h2 class="Roboto mt-4" style="font-size:150%;"><b>Czy na pewno chcesz <br /> usunąć tą dostępność?</b></h2>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="p-2 pr-4 pl-4 border bg-danger text-white Roboto" style="font-size:100%;">Usuń <i style="font-size:18px" data-feather="delete"></i></button>
                </div>
            </div>
        </form>
    </div>